# requirements.txt

chardet==5.2.0
charset-normalizer==3.4.4
Nuitka==2.8.10
ordered-set==4.1.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.18.0
PySide6_Addons==6.10.1
PySide6_Essentials==6.10.1
shiboken6==6.10.1
zstandard==0.25.0
